[Desktop Entry]
Name=XBMC Remote
GenericName=Remote
X-GNOME-FullName=XBMC Remote
Comment=Remotely Control XBMC installations on other computers
Exec=/home/ben/Development/xbmc-python-remote/bin/xbmcremote --gui
Terminal=false
Type=Application
Icon=xbmc
Categories=GNOME;GTK;AudioVideo;Audio;Music;Player;
StartupNotify=true
MimeType=application/x-ogg;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-mpegurl;audio/x-flac;
Name[en_GB]=XBMC Remote

